{% extends "base.html" %}

{% block content %}
<div class="max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-10">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">Create Goal</h1>
    <form method="POST" class="space-y-4">
        {% csrf_token %}
        <div class="space-y-2">
            {{ form.as_p }}
        </div>
        <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700">
            Save Goal
        </button>
    </form>
</div>
{% endblock %}
