{% extends "base.html" %}

{% block content %}
<div class="container mx-auto p-6">
    <h1 class="text-2xl font-bold">Your Goals</h1>
    <div class="my-5">
    <a href="{% url 'goals:create_goal' %}" class="bg-green-500 text-white px-4 py-2 rounded-md">+ New Goal</a>
    </div>  
    <ul class="mt-4">
        {% if user.last_name == 'employee' %}
        {% for goal in goals %}
        <li class="p-4 border-b">
            <a href="{% url 'goals:goal_detail' goal.pk %}" class="text-blue-500">{{ goal.title }}</a>
            <span class="text-gray-600">({{ goal.status }})</span>
        </li>
        {% endfor %}
        {% else %}
        
        {% for goal in goals_all %}
        <li class="p-4 border-b">
            <a href="{% url 'goals:goal_detail' goal.pk %}" class="text-blue-500">{{ goal.title }}</a>
            <span class="text-gray-600">({{ goal.status }})</span>
        </li>
        {% endfor %}

        
        {% endif %}

    </ul>
</div>
{% endblock %}
